<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
    <div class="content-body">
      <div class="card">
        <div class="card-header">
          {{pageTitle}}
        </div>
        <div class="card-body">
          <div class="container-fluid">
           
        <form [formGroup]="fileForm" (ngSubmit)="saveFileInfo()">
          <div class="form-group">
            <label for="vidName"></label>
            <input type="file" class="form-control" (change)="handleFileInput($event)" name="file">
          </div>
          <div class="form-group">
            <label for="pwd">coins en Partage :</label>
            <input type="text" class="form-control" formControlName="coinsShare" placeholder="tapez les coins en cas departage" name="coinsShare" required>
          </div>
          <div class="form-group">
            <label for="pwd">coins en vu :</label>
            <input type="text" class="form-control" formControlName="coinsView" placeholder="tapez les coins en cas devisionnage" name="coinsView"  required >
          </div>

          <div class="form-group">
            <label for="pwd">Sponsor:</label>
            <input type="text" class="form-control" formControlName="Sponsor" placeholder="tapez le sponsor de cette mission" name="Sponsor" required>
          </div>

          
          <div class="form-group">
            <label for="pwd">Catégorie:</label>
            <input type="text" class="form-control" formControlName="category" placeholder="tapez la Catégorie de cette mission" name="category" required>
          </div>




          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  