.member-img{
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown {
  display: none;
}

.dt-checkboxes-cell {
  opacity: 0;
}

.dt-checkboxes-select-all {
  visibility: hidden;
}
