<!-- BEGIN: Content-->
<div class="app-content content accessories-products">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">

    <div class="content-body">
      <!-- Data list view starts -->
      <section id="data-list-view" class="data-list-view-header">
        <div class="add-new-data-sidebar">
          <div class="overlay-bg"></div>
          <div class="add-new-data">
            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
              <div>
                <h4 class="text-uppercase">accessories data</h4>
              </div>
              <div class="hide-data-sidebar">
                <i class="feather icon-x"></i>
              </div>
            </div>
            <div class="data-items pb-2">
              <div class="data-fields px-2">
                <div class="row">
                  <div class="col-sm-12 data-field-col" *ngIf="productsArray.length>0">
                    <form [formGroup]="form">
                      <label for="product-name">Product name</label>
                      <input type="text" formControlName="prodName" class="form-control" id="product-name">

                      <div class="data-field-col">
                        <label for="product-description">Description</label>
                        <textarea rows="4" class="form-control"
                                  style="resize: vertical" formControlName="prodDescription"
                                  id="product-description"></textarea>
                      </div>

                      <div class="data-field-col">
                        <label for="product-price">Price</label>
                        <input type="number" class="form-control" id="product-price" formControlName="prodPrice">
                      </div>

                      <div class="data-field-col">
                        <label for="product-quantity">Quantity available</label>
                        <div class="form-row">
                          <div class="col-9">
                            <input type="number" class="form-control" id="product-quantity"
                                   formControlName="prodQuantity"
                                   value="{{!isInfiniteSelectedQuantity() ? getSelectedAccessorie().availableQuantity : setInfinite()}}">
                          </div>
                          <div class="col-3">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" (click)="infinityQuantityClicked()"
                                     id="customSwitch9" [checked]="isInfiniteSelectedQuantity()">
                              <label class="custom-control-label" for="customSwitch9">
                                <span class="switch-text-left">Infinite</span>
                                <span class="switch-text-right">Infinite</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>


                <div class="data-field-col">
                  <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Upload Images <br> 4 max</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                      <ngx-dropzone-label></ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>

              </div>
            </div>
            <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
              <div class="add-data-btn">
                <button class="btn btn-primary" type="button" (click)="updateAccessorie()" *ngIf="!isAddingNew">
                  <app-loader *ngIf="isLoading" radius="15"></app-loader>
                  Update
                </button>

                <button class="btn btn-primary" type="button" (click)="addNewAccessorie()" *ngIf="isAddingNew">
                  <app-loader *ngIf="isLoading" radius="15"></app-loader>
                  Add new
                </button>
              </div>
              <div class="cancel-data-btn">
                <button class="btn btn-outline-danger">Cancel</button>
              </div>
            </div>
          </div>
        </div>


        <!-- add new sidebar starts -->
        <div class="table-responsive">
          <table class="table data-list-view">
            <thead>
            <tr>
              <th></th>
              <th>IMAGE</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>TOTAL ORDERS</th>
              <th>ORDERS THIS MONTH</th>
              <th>AVAILABLE</th>
              <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of productsArray ; let i = index" [id]="'order-'+i">
              <td></td>
              <td class="product-img action-edit pl-0"
                  (click)="listItemClicked(i) ; manageEnableDisable()"><img
                src="{{url+'/'+product.imageURL[0].replace('public','')}}" alt="image missing"></td>
              <td class="product-name action-edit"
                  (click)="listItemClicked(i) ; manageEnableDisable()">
                &nbsp;{{product.name}}</td>
              <td class="product-category action-edit"
                  (click)="listItemClicked(i); manageEnableDisable()">
                &nbsp;{{product.price}}&nbsp;dt
              </td>
              <td class="product-orders-total action-edit"
                  (click)="listItemClicked(i); manageEnableDisable()">
                &nbsp;{{product.totalOrders}}</td>
              <td class="product-orders-this-month action-edit"
                  (click)="listItemClicked(i); manageEnableDisable()">
                &nbsp;{{product.ordersThisMonth}}</td>
              <td class="action-edit" (click)="listItemClicked(i); manageEnableDisable()">
                <div class="chip"
                     [class.chip-warning]="product.availableQuantity<10"
                     [class.chip-danger]="product.availableQuantity <= 0"
                     [class.chip-success]="product.availableQuantity>9">
                  <div class="chip-body">
                    <div
                      class="chip-text">{{product.availableQuantity > 0 ? product.availableQuantity : 'Unavailable'}}</div>
                  </div>
                </div>
              </td>
              <td class="product-action">
                <span class="action-edit" title="Edit product" (click)="listItemClicked(i)"><i
                  class="feather icon-edit"></i></span>&nbsp;
                <span title="Delete product" data-toggle="modal" data-target="#danger-2"
                      (click)="this.selectedElementIndex = i; this.isAddingNew = false;"><i class="feather icon-trash"></i></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- add new sidebar ends -->
      </section>
      <!-- Data list view end -->

    </div>
  </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- Deleting modal -->
<div class="modal fade text-left" id="danger-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel110"
     style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger white">
        <h5 class="modal-title" id="myModalLabel112">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this product ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal"
                (click)="deleteAccessorie()">Delete
        </button>
        <button type="button" class="btn btn-outline-danger waves-effect waves-light" data-dismiss="modal">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
